<div>
  <sound-manager></sound-manager>

  <div ng-hide="generalPlaylist.checkIfOwnPage()" ng-cloak="" class="no-print">
    <aside ng-include=" 'app/music/layout/navigation.html' " id="nav-container"></aside>
  </div>

  <div class="view-container">

    <div ng-hide="generalPlaylist.checkIfOwnPage()" ng-cloak="" class="no-print">
      <section ng-include=" 'app/music/layout/header.html' " id="header" class="top-header"></section>
    </div>
    <section ui-view="" id="content" class="animate-fade-up" ng-class="{fixed:generalPlaylist.checkIfFixedPage()}"></section>
  </div>

  <div class="player-region" ng-show="currentPlaying">
    <div>

      <div class="player-control">

        <div class="player-control-bottom">

          <div class="controlling-options">
            <div class="btn" prev-track>
              <i class="fa fa-step-backward"></i>
            </div>
            <div class="btn">
              <i class="fa fa-pause" ng-show="isPlaying" pause-music></i>
              <i class="fa fa-play" ng-hide="isPlaying" play-music></i>
            </div>
            <div class="btn" next-track>
              <i class="fa fa-step-forward"></i>
            </div>
            <div class="btn btn-noclick">
              <span><span class="badge">{{ volume }}%</span></span>
            </div>
            <div class="btn" music-volume data-type="decrease">
              <span><i class="fa fa-volume-down"></i></span>
            </div>
            <div class="btn" music-volume data-type="increase">
              <span><i class="fa fa-volume-up"></i></span>
            </div>
          </div>

          <div class="song-duration">
            <span class="song-duration-beg">{{ currentPostion }}</span>
            <div class="progress" seek-track>
              <div class="progress-bar" ng-style="{width : ( progress + '%' ) }"></div>
            </div>
            <span class="song-duration-end">{{ currentDuration }}</span>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<div class="page-loading-overlay">
  <div class="loader-2"></div>
</div>

<div class="load_circle_wrapper">

  <div class="loading_spinner">
    <div id="wrap_spinner">
      <div class="loading outer">
        <div class="loading inner"></div>
      </div>
    </div>
  </div>
</div>